@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Poppins", sans-serif;
  
  --color-rain-dark: #1a1a1a;
  --color-rain-gray: #4a4a4a;
  --color-sun-yellow: #fcd34d;
  --color-sun-orange: #fb923c;
  --color-sun-blue: #38bdf8;
}

body {
  @apply bg-slate-950 text-white font-sans antialiased;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}
